on:
    push:
        branches:
            - master
            - beta
            - alpha
    pull_request:
    workflow_dispatch:

jobs:
    build:
        name: Lint and Build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0
                  persist-credentials: false
            - uses: actions/setup-node@v4
              with:
                  node-version: 20.x
                  cache: yarn
            - run: yarn install
              env:
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
            - run: yarn lint
            - run: yarn build
            - uses: actions/upload-artifact@v4
              with:
                  name: dist
                  path: dist/
    release:
        name: Release
        needs: build
        if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/beta' || github.ref == 'refs/heads/alpha'
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0
                  persist-credentials: false
            - uses: actions/setup-node@v4
              with:
                  node-version: 20.x
                  cache: yarn
            - uses: actions/download-artifact@v4
              with:
                  name: dist
                  path: dist/
            - run: yarn install
              env:
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
            - run: yarn release
              env:
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
                  GH_TOKEN: ${{ secrets.GH_TOKEN }}
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
